Attention, a long time ago, XMPP RFCs have been updated:

RFC6120: Extensible Messaging and Presence Protocol (XMPP): Core:
- https://datatracker.ietf.org/doc/html/rfc6120

RFC6121: Extensible Messaging and Presence Protocol (XMPP): Instant Messaging and Presence:
- https://datatracker.ietf.org/doc/html/rfc6121

RFC6122: Extensible Messaging and Presence Protocol (XMPP): Address Format:
- https://datatracker.ietf.org/doc/html/rfc6122

RFC7622: Extensible Messaging and Presence Protocol (XMPP): Address Format:
- https://datatracker.ietf.org/doc/html/rfc7622
